<div class="nav" id="nav">
           <img src="images/main/torch.gif" />
           <ul>
       <li><a href="/main">首页</a></li>
       <li><a href="?r=page/intern">实习信息</a></li>
       <li><a href="?r=page/student">学子心声</a></li>
       <li><a href="?r=page/aboutus">关于我们</a></li>
           </ul>
           <p id="out"><a href="/users/write">写文章</a><span>|</span><a href="#" id="center">个人中心</a>
         <div id='red-sign'></div>
         <div id="list">
           <a href="?r=page/mine">我的文章</a>
         <a href="?r=page/collect">我的收藏</a>
         <a href="?r=page/chpass">修改密码</a>
         <a href="?r=page/news" id='news'>消息</a>
         <a href="?r=user/logout">退出</a>
        </div>
           </p>
</div>
