<div class="nav" id="nav">
           <img src="/images/main/torch.gif" />
           <ul>
       <li><a href="/main">首页</a></li>
       <li><a href="/list?type=求职实习信息">实习信息</a></li>
       <li><a href="/list?type=学子心声">学子心声</a></li>
       <li><a href="/about">关于我们</a></li>
           </ul>
           <p id="out"><a href="/users/write">写文章</a><span>|</span><a href="#" id="center">个人中心</a>
         <div id='red-sign'></div>
         <div id="list">
           <a href="/setting/information">个人信息</a>
         <a href="/setting/article">我的收藏</a>
         <a href="/setting/checkPassword">修改密码</a>
        </div>
      </p>
</div>
