<div class="right right-first">
  <div class="title">最新公告</div>
  <ul id="container_first"></ul>
</div>
<div class="right right-second">
  <div class="title">热点推荐</div>
  <ul id="container_second"></ul>
</div>
<div class="right right-thrid">
  <div class="title">相关链接</div>
    <ul>
      <li><a style='text-align:center' href="http://torch.dlut.edu.cn/torch-scholar/public/index.php?r=user/login">Torch奖学金评审系统（学生入口）</a></li>
      <li><a style='text-align:center' href="http://torch.dlut.edu.cn/torch-scholar/public/index.php?r=admin/login">Torch奖学金评审系统（教师入口）</a></li>
      <li><a style='text-align:center' href="http://www.dlut.edu.cn">大连理工大学</a></li>
      <li><a style='text-align:center' href="http://management.dlut.edu.cn/">大连理工大学管理与经济学部</a></li>
      <li><a style='text-align:center' href="http://career.dlut.edu.cn/">大连理工大学就业网</a></li>
    </ul>
</div>
