<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="/stylesheets/base.css" media="screen" title="no title">
  </head>
  <body>
    <!--导航栏信息 -->
    <% include _nav.ejs %>
    <!--个人中心 -->
    <div class="center">
      <div class="aside">
        <ul>
          <li>
            <a href="#">
              <div class="icon">
              <i class="iconfont">&#xe6b5;</i>
              </div>
              <span>个人信息</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon">
              <i class="iconfont">&#xe748;</i>
              </div>
              <span>我的文章</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="icon">
              <i class="iconfont">&#xe657;</i>
              </div>
              <span>修改密码</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="right_main">


      </div>
    </div>
  </body>
</html>
