<html>
  <head>
    <meta charset="utf-8">
    <title>写文章</title>
    <link rel="stylesheet" href="/stylesheets/base.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/write.css" media="screen" title="no title">
  </head>
  <body>
    <!--导航栏信息 -->
    <% include _nav.ejs %>
    <form  action="/users/write" method="post" id="main">
      <div id="container">
        <div class="tit"><span>标题</span> <input type="text" name="art_title" id='art_title' maxlength='30'  required value="" />
            <span class="star">*</span></div>
            <div class="tit">
              <span>分类</span>
              <select name="type"  id="type"  required >
                <!-- <option>请选择</option> -->
                <option>学子心声</option>
                <optgroup label="求职">
                  <option value="求职实习信息">实习信息</option>
                  <option value="求职经验">求职经验</option>
                  <option value="求职技巧">求职技巧</option>
                  <option value="求职其他">其他</option>
                </optgroup>
                <optgroup label="出国">
                  <option value="出国之路">出国之路</option>
                  <option value="出国课程专业">课程专业</option>
                  <option value="出国其他">其他</option>
                </optgroup>
                <optgroup label="读研">
                  <option value="读研考研经验">考研经验</option>
                  <option value="读研保研经验">保研经验</option>
                  <option value="读研真题回忆">真题回忆</option>
                  <option value="读研其他">其他</option>
                </optgroup>
                <option>比赛</option>
                <option>新闻</option>
                <option>公告</option>
                </select>
                <span class="star">*</span>
            </div>
            <div class="main-article">
              <textarea name="textarea" id="textarea" ></textarea>
            </div>
            <div id="buttonContainer">
              <input type="submit"  value="提交" id="submit_btn" class="button">
              <input type="button"  value="清空" id="clear_btn" class="button">
            </div>
      </div>
    </form>
        <% include _footer.ejs %>
        <script src="/javascripts/base.js">

        </script>
        <script>
        var clear_btn=document.getElementById('clear_btn');
        //封装绑定事件的函数
        function addEventHandler(element,type,handler) {
          //DOM2级方法
          if(element.addEventHandler) {
            element.addEventHandler(type,handler,false);
          }
          //兼容IE
          else if(element.attachEvent) {
            element.attachEvent("on"+type,handler);
          }
          //DOM0级方法
          else {
            element["on"+type]=handler;
          }
        }
        //保存文章
        function save() {
          var message='<%= message %>';
          if(message==='保存成功') {
            alert("文章已经保存成功！");
          }
        }
        window.onload=function() {
          save();
          addEventHandler(clear_btn,"click",function() {
            var textarea=document.getElementById('textarea');
            textarea.value="";
          });
        }
        </script>
  </body>
</html>
