#main{
	padding: 20px 40px;
	width: 560px;
	background-color: rgb(242,242,242);
	border-left: 1px solid rgb(0,114,172);
}

.article {
	width: 560px;
	height: 300px;
	background-color: white;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
}

.article_header {
	border-left: 5px solid #d4d4d4;
	padding: 30px 0px 15px 25px;
	color:#696969;
	font-weight: 300;
	line-height: normal;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.article_entry {
	padding :20px 10px 10px 25px;
	line-height: 1.5em;
	min-height: 150px;
}


.article_more {
	margin: 20px 0px 10px 0px;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
  border-radius:5px;
}
.article_more a:hover {
		cursor:pointer;
		text-decoration: none;
	}

.article_info {
	border-top: 1px solid #d4d4d4;
	margin: 0px 10px 0px 25px;
	min-height: 40px;
}

.article_info div{
	display: inline-block;
	margin-right: 15px;
}


.right-first{
	top: 120px;
	left: 857px;

}
.right-second{
	top: 385px;
	left: 857px;
}
.right-thrid {
top: 650px;
left: 857px;
}

/*上下翻页的样式*/
.changePage {
	border: 1px solid #e3e3e3;
	/*margin: 5px 10px;*/
	padding: 5px 10px;
	color: #777;
	background: #fff;
	font-size: 12px;
	text-decoration: none;
	line-height: normal;
	display: inline-block;
	cursor: pointer;
}
/*评论的样式*/
/*#mesg_box{
	position:absolute;
	width:330px;
	height:270px;
	background-color:#fff;
	padding:0 10px;
	border-radius:10px;
	box-shadow:0px 0px 20px;
	display: none;
	z-index:10002;
}
#mesg_title{
	width:330px;
	font-size:25px;
	padding:15px 0 25px;
	color:#14aaeb;
	border-bottom:2px solid #09f;
}
#mesg_title span{
	margin-left:0%;
}
#tf{
	margin-top:40px;
	float:left;
	width:100%;
}*/
#mesg_box {
	margin-top: 100px;
}
