/*@import url('base.css');*/
#main{
	padding: 20px 40px;
	width: 560px;
	background: white;
}

.article_container{
	width: 568px;
	height: 130px;
	border-bottom: 1px solid rgb(215,215,215);
	margin-bottom: 10px;
	padding-bottom: 20px;
	overflow: hidden;
}
.article_container h2 {
	padding: 10px 0px;
}
.article_content{
	font-size: 14px;
	padding: 5px 0;
}
.lab{
	color: rgb(40,133,180);
}
/*阅读全文*/
.read-all{
	color: rgb(48,171,193);
}

.right-first{
	top: 120px;
	left: 857px;

}
.right-second{
	top: 385px;
	left: 857px;
}
.right-thrid {
top: 650px;
left: 857px;
}

#sub_art {
height: 260px;
color: #14aaeb;
font-family: "华文新魏";
}

#sub_art .sub_p {
text-align: center;
font-size: 28px;
margin-top: 80px;
font-weight: bold;
}

#more{
	width: 153px;
	height: 35px;
	font-size: 20px;
	color: white;
	background: rgb(215,215,215);
	line-height: 35px;
	text-align: center;
	margin-left: 200px;
	cursor: pointer;
}
/*上下翻页的样式*/
.changePage {
	border: 1px solid #e3e3e3;
	/*margin: 5px 10px;*/
	padding: 5px 10px;
	color: #777;
	background: #fff;
	font-size: 12px;
	text-decoration: none;
	line-height: normal;
	display: inline-block;
	cursor: pointer;
}
/*评论的样式*/
/*#mesg_box{
	position:absolute;
	width:330px;
	height:270px;
	background-color:#fff;
	padding:0 10px;
	border-radius:10px;
	box-shadow:0px 0px 20px;
	display: none;
	z-index:10002;
}
#mesg_title{
	width:330px;
	font-size:25px;
	padding:15px 0 25px;
	color:#14aaeb;
	border-bottom:2px solid #09f;
}
#mesg_title span{
	margin-left:0%;
}
#tf{
	margin-top:40px;
	float:left;
	width:100%;
}*/
#mesg_box {
	margin-top: 100px;
}
